{{ define "main" }}
    <header class="content__header">
        <h1>{{ .Title | markdownify }}</h1>
        {{ .Content }}
    </header>

    {{ range .Pages }}
    <article class="post">
        <header class="post__header">
            <h1>
                <a href="{{ .Permalink }}">{{ .Title | markdownify }}</a>
                <div class="post__meta">
                    {{ .ReadingTime }} minute{{ if .ReadingTime | gt 1 }}s{{ end }} read from <span class="date">{{ .Date.Format "2 January 2006" }}</span>
                {{ if .Draft }} <i>(unpublished)</i> {{ end }}
            </div>
            </h1>
            <div class="tag-list">{{ range .Params.Tags }}<div class="post-tag">{{ . }}</div> {{ end }}</div>
        </header>

        <!-- <section class="post__summary">
            {{ .Summary }}
        </section> -->
    </article>
    {{ end }}
{{ end }}
